.todo-item span{
  flex: 1;
  color: #f1f1f1;
}

.todo-item input{
  flex:1;
  padding:8px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #2d2d2d;
  color: #f1f1f1;
}

.todo-item button{
  margin-left: 8px;
  padding: 6px 10px;
  border:none;
  border-radius: 4px;
  cursor:pointer;
  color:#f1f1f1;
}

.todo-item button:first-of-type{
  background-color: #3498db;
}

.todo-item .delete-btn{
  background-color: #e74c3c;
}